<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SecondTypeDao">
    <select id="listAllTypes" resultType="com.pojo.SecondType" >
        SELECT * FROM secondType
        ORDER BY secondType_id
    </select>
    <insert id="insertType"  parameterType="com.pojo.SecondTypeVO">
        insert into secondType (secondType_name,type_id)
        value (#{type.secondType_name},#{type.type_id})
   </insert>
    <select id="listTypes" resultType="com.pojo.SecondTypeVO" parameterType="map">
        SELECT * FROM (SELECT secondtype.*,type.type_name FROM  secondtype
        LEFT JOIN type ON secondtype.type_id=type.type_id) a
        <trim prefix="where" prefixOverrides="and">
            <if test="type.secondType_name !=null and type.secondType_name !=''">
                AND
                secondType_name LIKE #{type.secondType_name}   or type_name like #{type.secondType_name}
            </if>
        </trim>
        ORDER BY secondType_id
        limit #{startIndex},#{pageSize}
    </select>
    <select id="countTypes" resultType="java.lang.Integer" parameterType="map">
        select count(1) from
        (SELECT secondtype.*,type.type_name
        FROM  secondtype
        LEFT JOIN type
        ON secondtype.type_id=type.type_id) a
        <trim prefix="where" prefixOverrides="and">
            <if test="type.secondType_name !=null and type.secondType_name !=''">
                secondType_name LIKE #{type.secondType_name}   or type_name like #{type.secondType_name}
            </if>
        </trim>

    </select>

    <delete id="deleteTypes" parameterType="Integer[]">
         <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
            : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
        delete from SecondType where secondType_id in
        <foreach collection="array" item="secondType_id"  open="("
                 separator="," close=")">
            #{secondType_id}
        </foreach>
    </delete>

    <select id="getTypeByTypeId" resultType="com.pojo.SecondTypeVO">
        SELECT *
        FROM
        (SELECT secondtype.*,type.type_name
        FROM  secondtype
        LEFT JOIN type
        ON secondtype.type_id=type.type_id) a
        where secondType_id=#{0}
    </select>

    <select id="getType2ByTypeId" resultType="com.pojo.SecondTypeView">
        SELECT *
        FROM  SecondTypeView  where type_id=#{0}
    </select>


    <update id="updateType"   parameterType="com.pojo.SecondTypeVO">
        update SecondType
        <trim prefix="set" suffixOverrides=",">
            <if test="type.secondType_name!= null">secondType_name=#{type.secondType_name},</if>
            <if test="type.type_id!= null">type_id=#{type.type_id},</if>
        </trim>
        where secondType_id=#{type.secondType_id}
    </update>
    <select id="getTypeByTypeName" resultType="com.pojo.SecondTypeVO">
        SELECT *
        FROM
        (SELECT secondtype.*,type.type_name
         FROM  secondtype
         LEFT JOIN type
         ON secondtype.type_id=type.type_id) a
         where secondType_name=#{0}
    </select>

</mapper>