<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TypeDao">


    <select id="getList" resultType="com.pojo.Type">
        SELECT type_id,type_name
        FROM  type
    </select>
    <insert id="insertType"  parameterType="com.pojo.Type">
        insert into type (type_name)
        value (#{type.type_name})
   </insert>
    <select id="listTypes" resultType="com.pojo.Type" parameterType="map">
        select * from type
        <trim prefix="where" prefixOverrides="and">
            <if test="type.type_name !=null and type.type_name !=''">
                AND
                type_name LIKE #{type.type_name}
            </if>
        </trim>
        limit #{startIndex},#{pageSize}
    </select>
    <select id="countTypes" resultType="java.lang.Integer" parameterType="map">
        select count(1) from type
        <trim prefix="where" prefixOverrides="and">
            <if test="type.type_name !=null and type.type_name !=''">
                and     type_name LIKE #{type.type_name}
            </if>
        </trim>

    </select>

    <delete id="deleteTypes" parameterType="Integer[]">
         <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
            : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
        delete from type where type_id in
        <foreach collection="array" item="type_id"  open="("
                 separator="," close=")">
            #{type_id}
        </foreach>
    </delete>

    <select id="getTypeByTypeId" resultType="com.pojo.Type">
        SELECT *
        FROM  type  where type_id=#{0}
    </select>


    <update id="updateType"   parameterType="com.pojo.Type">
        update Type
        <trim prefix="set" suffixOverrides=",">
            <if test="type.type_name!= null">type_name=#{type.type_name},</if>
        </trim>
        where type_id=#{type.type_id}
    </update>
    <select id="getTypeByTypeName" resultType="com.pojo.Type">
        SELECT *
        FROM  type  where type_name=#{0}
    </select>

    <select id="listTypeStatistics" resultType="com.pojo.StatisticsVO">
     SELECT type.type_name name,SUM(book.book_borrowing_number)sum from type
     left JOIN secondtype on secondtype.type_id=type.type_id
     LEFT JOIN book_type ON secondtype.secondType_id=book_type.secondType_id
     LEFT JOIN book ON book_type.book_id=book.book_id
     GROUP BY type.type_id LIMIT 0,5
    </select>
    <select id="listSecondTypeStatistics" resultType="com.pojo.StatisticsVO">
      SELECT * FROM(
      SELECT secondtype.secondType_name name,SUM(book.book_borrowing_number) sum from secondtype
      LEFT JOIN book_type ON secondtype.secondType_id=book_type.secondType_id
      LEFT JOIN book ON book_type.book_id=book.book_id
      GROUP BY secondtype.secondType_id )a ORDER BY sum DESC limit 0,10
    </select>

    <select id="listLastMonthSecondTypeStatistics" resultType="com.pojo.StatisticsVO">
     SELECT type_name name,COUNT(1) sum FROM
   ( SELECT secondtype.secondType_name type_name,borrow.* FROM borrow
     LEFT JOIN book_type ON borrow.book_id=book_type.book_id
     LEFT JOIN secondtype ON secondtype.secondType_id=book_type.secondType_id
     WHERE PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( borrow.actual_return_time, '%Y%m' ) ) =1
    ) a
     GROUP BY type_name
    limit 0,10
    </select>

    <select id="listLastMonthBorrowStatistics" resultType="com.pojo.StatisticsVO">
      SELECT book_name name,COUNT(1) sum FROM
    ( SELECT book.book_name book_name,borrow.* FROM borrow
      LEFT JOIN book ON book.book_id=borrow.book_id
      WHERE PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( borrow.actual_return_time, '%Y%m' ) ) =1
     ) a
      GROUP BY book_name
    </select>

</mapper>